@font-face {
  font-family: 'KiddyKitty';
  src: url('../fonts/KiddyKitty.woff2') format('woff2'),
       url('../fonts/KiddyKitty.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-Medium';
  font-weight: 400;
  src: url('../fonts/KiddyKitty-Medium.woff2') format('woff2'),
       url('../fonts/KiddyKitty-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-MediumItalic';
  font-weight: 200;
  src: url('../fonts/KiddyKitty-MediumItalic.woff2') format('woff2'),
       url('../fonts/KiddyKitty-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-LightItalic';
  src: url('../fonts/KiddyKitty-LightItalic.woff2') format('woff2'),
       url('../fonts/KiddyKitty-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-Light';
  src: url('../fonts/KiddyKitty-Light.woff2') format('woff2'),
       url('../fonts/KiddyKitty-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-Fat';
  src: url('../fonts/KiddyKitty-Fat.woff2') format('woff2'),
       url('../fonts/KiddyKitty-Fat.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'KiddyKitty1';
  src: url('../fonts/KiddyKitty-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/KiddyKitty-ExtraBoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KiddyKitty-BoldItalic';
  src: url('../fonts/KiddyKitty-BoldItalic.woff2') format('woff2'),
       url('../fonts/KiddyKitty-BoldItalic.woff') format('woff');
/*  font-weight: normal;
  font-style: italic;*/
}


@font-face {
  font-family: 'KiddyKitty-Bold';
  src: url('../fonts/KiddyKitty-Bold.woff2') format('woff2'),
       url('../fonts/KiddyKitty-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
