.background-image-list {
  position: absolute;
  min-width: 100%;
  min-height: 100%;

	&__item {
    display: none;
    position: absolute;
		width: 100px;
		height: 100px;
		background-color: #345;
    background-position: center;
    background: url("../src/image/background-element/tree-1.png");
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;

      @media screen and (max-width: 800px) {
        display: block;
      }


    &--1 {
      width: 23px;
      height: 22px;
      top: 90px;
      left: 32vw;
      background-image: url("../src/image/background-element/grass-1.png");
    }

    &--2 {
      top: 40px;
      left: 59vw;
      height: 70px;
      background-image: url("../src/image/background-element/tree-1.png");
    }

    &--3 {
      width: 100px;
      height: 30px;
      top: 330px;
      left: 5vw;
      background-image: url("../src/image/background-element/house-1.png");

      @media screen and (min-width: 395px) {
        left: 8vw;
      }
    }

    &--4 {
      top: 320px;
      width: 18px;
      left: 70vw;
      background-image: url("../src/image/background-element/grass-2.png");
    }

    &--5 {
      width: 28px;
      top: 465px;
      left: 11vw;
      background-image: url("../src/image/background-element/tree-2.png");
    }

    &--6 {
      width: 18px;
      top: 730px;
      left: 70vw;
      background-image: url("../src/image/background-element/tree-3.png");
    }

     &--7 {
       width: 23px;
       top: 880px;
       left: 18vw;
       background-image: url("../src/image/background-element/tree-3.png");
    }

    &--8 {
      width: 18px;
      top: 1090px;
      left: 18vw;
      background-image: url("../src/image/background-element/tree-5.png");
    }

    &--9 {
      top: 1100px;
      width: 90px;
      left: 60vw;
      background-image: url("../src/image/background-element/house-2.png");
    }

    &--10 {
      width: 20px;
      top: 1510px;
      left: 20vw;
      background-image: url("../src/image/background-element/grass-2.png");
    }

    &--11 {
      width: 35px;
      top: 1280px;
      left: 6vw;
      background-image: url("../src/image/bg-elems-desktop/tree-desktop-3.png");
    }

    &--12 {
      width: 35px;
      top: 1340px;
      left: 13vw;
      background-image: url("../src/image/bg-elems-desktop/bush-desktop-2.png");
    }

    &--13 {
      width: 20px;
      top: 1600px;
      left: 8vw;
      background-image: url("../src/image/background-element/tree-5.png");
    }

    &--14 {
      width: 20px;
      top: 1590px;
      left: 17vw;
      background-image: url("../src/image/background-element/tree-4.png");
    }

    &--15 {
      width: 30px;
      top: 1660px;
      left: 13vw;
      background-image: url("../src/image/bg-elems-desktop/bush-desktop-1.png");
    }

    &--16 {
      width: 44px;
      top: 1940px;
      left: 8vw;
      background-image: url("../src/image/bg-elems-desktop/chr-tree.png");
    }

    &--17 {
      width: 44px;
      top: 2150px;
      left: 62vw;
      background-image: url("../src/image/bg-elems-desktop/leaves.png");
    }


    &--18 {
      width: 24px;
      top: 2190px;
      left: 8vw;
      background-image: url("../src/image/bg-elems-desktop/grass-desktop-2.png");
    }

    &--19 {
      width: 55px;
      top: 2630px;
      left: 13vw;
      background-image: url("../src/image/bg-elems-desktop/castle.png");
    }

    &--20 {
      width: 84px;
      top: 3170px;
      left: 53vw;
      background-image: url("../src/image/bg-elems-desktop/hill.png");
    }

    &--21 {
      width: 18px;
      top: 3118px;
      left: 68vw;
      background-image: url("../src/image/background-element/tree-1.png");
    }

    &--22 {
      width: 168px;
      right: -40px;
      bottom: 110px;
      background-image: url("../src/image/bg-elems-desktop/ground-near.png");
    }

    &--23 {
      width: 58px;
      right: 30px;
      bottom: 2330px;
      background-image: url("../src/image/bg-elems-desktop/chest.png");
    }
  }
}

.background-desktop-list {

  &__item {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    //background-color: #345;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 801px) {
      display: block;
    }

    &--1 {
      width: 30px;
      height: 100px;
      left: 340px;
      top: 30px;
      background-image: url("../src/image/bg-elems-desktop/tree-desktop-1.png");
    }

    &--2 {
      width: 50px;
      height: 100px;
      left: 380px;
      top: 100px;
      background-image: url("../src/image/bg-elems-desktop/cloud-desktop-1.png");
    }

    &--3 {
      width: 30px;
      height: 80px;
      left: 440px;
      top: 10px;
      background-image: url("../src/image/bg-elems-desktop/tree-desktop-2.png");
    }

    &--4 {
      width: 30px;
      height: 80px;
      left: 640px;
      top: 80px;
      background-image: url("../src/image/bg-elems-desktop/grass-desktop-2.png");

      @media screen and (min-width: 900px) {
        left: 720px;
      }
    }

    &--5 {
      width: 30px;
      height: 80px;
      left: 260px;
      top: 440px;
      background-image: url("../src/image/bg-elems-desktop/tree-desktop-1.png");
    }

    &--6 {
      width: 50px;
      height: 80px;
      left: 150px;
      top: 760px;
      background-image: url("../src/image/bg-elems-desktop/cloud-desktop-1.png");
    }

    &--7 {
      width: 30px;
      height: 80px;
      left: 700px;
      top: 750px;
      background-image: url("../src/image/bg-elems-desktop/tree-desktop-2.png");
    }

    &--8 {
      width: 50px;
      height: 80px;
      left: 70px;
      top: 1090px;
      background-image: url("../src/image/bg-elems-desktop/tree-desktop-3.png");

      @media screen and (min-width: 1030px) {
        left: 120px;
      }
    }

    &--9 {
      width: 240px;
      height: 255px;
      left: 30px;
      bottom: 100px;
      background-image: url("../src/image/bg-elems-desktop/near-ground-2.png");
    }

    &--10 {
      width: 40px;
      height: 255px;
      left: 560px;
      bottom: 1730px;
      background-image: url(../src/image/bg-elems-desktop/tree-desktop-3.png);
    }

    &--11 {
      width: 40px;
      height: 255px;
      left: 600px;
      bottom: 1700px;
      background-image: url(../src/image/bg-elems-desktop/bush-desktop-2.png);
    }

    &--12 {
      width: 60px;
      height: 255px;
      left: 120px;
      bottom: 1700px;
      background-image: url(../src/image/bg-elems-desktop/chr-tree.png);
    }

    &--13 {
      width: 70px;
      height: 255px;
      left: 200px;
      bottom: 1330px;
      background-image: url(../src/image/bg-elems-desktop/leaves.png);
    }

    &--13 {
      width: 25px;
      height: 255px;
      left: 540px;
      bottom: 1330px;
      background-image: url(../src/image/bg-elems-desktop/tree-desktop-1.png);
    }

    &--14 {
      width: 25px;
      height: 255px;
      left: 590px;
      bottom: 1350px;
      background-image: url(../src/image/bg-elems-desktop/tree-desktop-2.png);
    }

    &--15 {
      width: 45px;
      height: 255px;
      left: 557px;
      bottom: 1290px;
      background-image: url(../src/image/bg-elems-desktop/cloud-desktop-1.png);
    }

    &--16 {
      width: 80px;
      height: 255px;
      left: 217px;
      bottom: 1030px;
      background-image: url(../src/image/bg-elems-desktop/castle.png);
    }

    &--17 {
      width: 80px;
      height: 255px;
      left: 347px;
      bottom: 800px;
      background-image: url(../src/image/bg-elems-desktop/chest.png);
    }

    &--18 {
      width: 120px;
      height: 265px;
      left: 535px;
      bottom: 510px;
      background-image: url(../src/image/bg-elems-desktop/mounts.png);
    }

    &--19 {
      width: 890px;
      height: 785px;
      right: 0;
      transform: translateX(15%);
      top: 370px;
      background-image: url(../src/image/bg-elems-desktop/desktop-fruto-bg.png);
    }
  }
}
