.fruits {
    /*background-image: url('../src/image/fruits.png');
    background-repeat: no-repeat;
    width: 330px;
    height: 370px;
    position: absolute;
    bottom: 60px;
    right: -10px;*/
    
    position: absolute;
    background-image: url(../src/image/main-product-right.png);
    max-width: 660px;
    width: 39%;
    height: 770px;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    bottom: 0px;
    right: -165px;

    @media screen and (min-width: 1281px) {
      max-width: 40vw;
      /*max-height: 470px;*/
      max-height: 50%;
      bottom: 50px;
      right: -140px;
      height: 100%;
    }

    @media screen and (min-width: 1800px) {
      right: -165px;
    }

    @media screen and (min-width: 2500px) {
      max-height: 785px;
      max-width: 670px;
      right: -320px;
    }

    @media screen and (max-width: 1280px) {
      height: 356px;
      top: 270px;
      right: -140px;
    }

    @media screen and (max-width: 1024px) {
	    /*height: 350px;*/
	    right: -118px;
      /*max-width: 330px;*/
      width: 100%;
      top: 230px;

      max-width: 306px;
      max-height: 333px;
  	}

    @media screen and (max-width: 667px) {
      max-width: 195px;
      max-height: 170px;
      right: -70px;
    }
}

