.fruits-group--linked {
  background-image: url(../src/image/cherry-group.png);
  background-repeat: no-repeat;
  width: 160px;
  height: 190px;

  @media screen and (max-width: 800px) {
    background-image: url(../src/image/cherry-group-mobile.png);
    width: 60px;
    height: 50px;
    position: relative;
    left: -20px;
  }
}
