.level {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin-bottom: 30px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &-1 {
   /* display: flex;*/
    justify-content: center;
  }

  &-2 {
    width: 100%;
    justify-content: center;
    padding-top: 60px;

    @media screen and (max-width: 800px) {
      padding: 0;
    }

    @media screen and (max-width: 800px) {
      /*margin-bottom: 60px;*/
    }
  }

  &-3 {
    justify-content: center;
    padding-right: 5%;
    padding-top: 50px;

    @media screen and (max-width: 800px) {
      padding: 0;
    }
  }

  &-4 {
    width: 100%;
    justify-content: center;
  }

  &-5 {
    width: 100%;
    justify-content: center;
    height: 170px;
  }

  &-6 {
    justify-content: center;
  }

  &-7 {
    justify-content: center;
  }

  &-8 {
    justify-content: center;
  }

  &-9 {
    justify-content: center;
  }

  &-10 {
    justify-content: center;
  }

  &-11 {
    justify-content: center;
  }

  &-12 {
    justify-content: center;
  }

  &-13 {
    justify-content: center;
  }

  &__item {
    position: relative;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 1;
    margin-bottom: 30px;

    .level__title {
      min-width: 100%;
      position: absolute;
      transform: translateX(-50%);
      line-height: normal;
      font-family: KiddyKitty-Bold;
      text-align: center;
      font-size: 24px;
      left: 50%;

      @media screen and (min-width: 801px) {
        display: block;
      }
    }

    @media screen and (max-width: 800px) {
      max-width: 160px;
      max-height: 155px;
      width: 100%;
      height: 100%;
    }

    img {
      position: relative;
      z-index: 10;
      object-fit: contain;
      max-width: 100%;

      @media screen and (max-width: 800px) {
        width: 150px;
        height: 170px;
      }
    }

  /*  span {
      display: inline-block;
      position: absolute;
      top: -70px;
      left: 50%;
      width: 10px;
      height: 25px;
      background-color: green;
      transform: translateX(-50%);
      opacity: 0;
      transition: all .5s ease;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: 15px solid transparent;
        border-top: 15px solid green;
      }
    }

    &:hover span {
      top: -50px;
      opacity: 1;
    }*/

    &:hover {
      cursor: pointer;
    }
  }


  &__item-1 {
    //background-image: url(../src/image/level-1.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 170px;
    top: -30px;
    position: relative;
    margin-right: 200px;

    .level__title {
      bottom: -60px;
    }

    @media screen and (max-width: 800px) {
      margin-right: 0;
      margin-bottom: 110px;
    }

    &:before {
      content: "";
      position: absolute;
      background-image: url(../src/image/path-1.png);
      background-repeat: no-repeat;
      width: 120px;
      height: 120px;
      top: 20px;
      left: -80px;


      @media screen and (max-width: 800px) {
        background-image: url(../src/image/path-mobile-1.png);
        top: -80px;
        left: 80px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      background-image: url(../src/image/path-2.png);
      background-repeat: no-repeat;
      width: 220px;
      height: 100px;
      top: 90px;
      left: 150px;

      @media screen and (max-width: 800px) {
        background-image: url(../src/image/path-mobile-2.png);
        top: 220px;
        left: 100px;
      }
    }
  }

  &__item-2 {
    //background-image: url(../src/image/level-2.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 120px;
    position: relative;
    right: 10px;
    top: -20px;

    .level__title {
      bottom: -60px;
    }

    @media screen and (max-width: 800px) {
      margin-bottom: 190px;
      width: 100px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/path-3.png);
      background-repeat: no-repeat;
      width: 250px;
      height: 240px;
      top: 140px;
      left: -30px;

      @media screen and (max-width: 800px) {
        background-image: url(../src/image/path-mobile-3.png);
        top: 190px;
        left: 50px;
      }
    }
  }

  &__item-3 {
    //background-image: url(../src/image/level-3.png);
    background-repeat: no-repeat;
    width: 170px;
    height: 120px;
    position: relative;
    right: -380px;
    top: -70px;
    left: 0px;
    z-index: 2;

    .level__title {
      @media screen and (max-width: 800px) {
        bottom: -70px;
      }

      bottom: -90px;
    }

    @media screen and (max-width: 800px) {
      width: 110px;
      margin-bottom: 95px;
     /* margin-bottom: 110px;*/
    }

    &:after {
      content: "";
      position: absolute;
      background-image: url(../src/image/path-4.png);
      background-repeat: no-repeat;
      width: 250px;
      height: 230px;
      top: 60px;
      left: -240px;

      @media screen and (max-width: 800px) {
        background-image: url(../src/image/path-mobile-4.png);
        top: 200px;
        left: 50px;
      }
    }

    @media screen and (max-width: 800px) {
      left: 0;
    }
  }

  &__item-4 {
    //background-image: url(../src/image/level-4.png);
    background-repeat: no-repeat;
    width: 170px;
    height: 185px;
    margin-right: 35%;
    /*margin-top: -75px;*/
    /*top: -75px;*/
    margin-bottom: 80px;
    position: relative;
    right: 0px;
    top: 50px;
    transform: translateY(-50%);

    @media screen and (min-width: 801px) {
      right: -30px;
      margin-right: 310px;
      top: 0;
    }

    .level__title {
      bottom: 10px;

      @media screen and (min-width: 801px){
        bottom: 0;
      }
    }

    img {
      @media screen and (max-width: 800px) {
        width: 120px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      background-image: url(../src/image/path-5.png);
      background-repeat: no-repeat;
      width: 300px;
      height: 230px;
      top: 110px;
      left: 140px;

      @media screen and (max-width: 800px) {
        background-image: url(../src/image/path-mobile-5.png);
        top: 190px;
        left: 70px;
      }

      @media screen and (min-width: 801px) {
        top: 100px;
        left: 160px;
      }
    }

    @media screen and (max-width: 800px) {
      text-align: center;
      max-height: 200px;
      /*margin-top: -30px;*/
      margin-right: 0;
     /* height: 400px;*/
      width: 80%;
    }
  }

  &__item-5 {
    //background-image: url(../src/image/level-5.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    position: relative;
    margin-top: -20px;
    margin-bottom: 40px;
    right: 10px;
    top: -170px;

    .level__title {
      bottom: -120px;

      @media screen and (min-width: 801px) {
        bottom: -150px;
      }
    }

    @media screen and (max-width: 800px) {
      right: 0px;
    }

    img {
      @media screen and (max-width: 800px) {
        width: 180px;
        height: 260px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      background-image: url(../src/image/path-6.png);
      background-repeat: no-repeat;
      width: 300px;
      height: 230px;
      top: 220px;
      left: -10px;

      @media screen and (max-width: 800px) {
        background-image: url(../src/image/path-mobile-6.png);
        top: 280px;
        left: 85px;
      }

      @media screen and (min-width: 801px) and (max-width: 1000px){
        left: -40px;
      }

      @media screen and (min-width: 1001px) {
        left: -10px;
      }

    }

    @media screen and (max-width: 800px) {
      width: 90%;
      margin-top: 20px;
      height: 280px;
      text-align: center;
    }
  }

  &__item-6 {
    //background-image: url(../src/image/level-6.png);
    background-repeat: no-repeat;
    width: 210px;
    height: 150px;
    position: relative;
    top: -50px;

    @media screen and (min-width: 801px) {
      right: 10px;
      top: -140px;
    }

    .level__title {
      bottom: -20px;
    }

    @media screen and (max-width: 800px) {
      width: 140px;
      height: 200px;
      margin-bottom: 150px;
    }

    img {
      @media screen and (max-width: 800px) {
        width: 280px;
        height: 180px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url(../src/image/path-7.png);
      background-repeat: no-repeat;
      width: 300px;
      height: 260px;
      top: 30px;
      left: -170px;

      @media screen and (max-width: 800px) {
        background-image: url(../src/image/path-mobile-3.png);
        top: 190px;
        left: 60px;
      }
    }

    @media screen and (max-width: 800px) {
      margin-left: 0;
    }
  }

  &__item-7 {
    //background-image: url(../src/image/level-7.png);
    background-repeat: no-repeat;
    width: 140px;
    height: 150px;
    margin-top: 75px;
    position: relative;
    right: 175px;
    top: -100px;

    @media screen and (min-width: 801px) {
      right: 165px;
      top: -200px;
    }

    @media screen and (max-width: 800px) {
      height: 150px;
      width: 100px;
      margin-left: 0;
      margin-top: 0;
      right: 0px;
      top: -90px;
      margin-bottom: 90px;
    }

    .level__title {
      top: 150px;

      @media screen and (min-width: 801px) {
        top: 170px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      background-image: url(../src/image/path-8.png);
      background-repeat: no-repeat;
      width: 300px;
      height: 260px;
      top: 180px;
      left: 140px;

      @media screen and (max-width: 800px) {
        background-image: url(../src/image/path-mobile-4.png);
        top: 210px;
        left: 45px;
      }

      @media screen and (min-width: 801px) {
        top: 160px;
        left: 130px;
      }
    }
  }

  &__item-8 {
    width: 146px;
    height: 146px;
    top: -115px;
    transform: translateX(89px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-9.png);
      background-repeat: no-repeat;
      width: 250px;
      height: 240px;
      top: 85px;
      right: -265px;
    }
  }

  &__item-9 {
    position: relative;
    width: 146px;
    height: 146px;
    top: -95px;
    transform: translateX(-120px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-11.png);
      background-repeat: no-repeat;
      width: 63px;
      height: 123px;
      top: 130px;
      left: 140px;
    }
  }

  &__item-10 {
    position: relative;
    width: 146px;
    height: 146px;
    top: -105px;
    transform: translateX(150px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-10.png);
      background-repeat: no-repeat;
      width: 415px;
      height: 205px;
      top: -100px;
      left: -420px;
    }
  }

  &__item-11 {
    width: 146px;
    height: 146px;
    top: -130px;
    transform: translateX(20px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-12.png);
      background-repeat: no-repeat;
      width: 169px;
      height: 31px;
      top: 110px;
      left: 140px;
    }
  }

  &__item-12 {
    width: 146px;
    height: 146px;
    top: -218px;
    transform: translateX(-75px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-15.png);
      background-repeat: no-repeat;
      width: 108px;
      height: 340px;
      top: 78px;
      left: -68px;
    }
  }

  &__item-13 {
    width: 146px;
    height: 146px;
    top: -73px;
    transform: translateX(25px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-14.png);
      background-repeat: no-repeat;
      width: 105px;
      height: 100px;
      top: -65px;
      left: -93px;
    }
  }

  &__item-14 {
    width: 146px;
    height: 146px;
    top: -230px;
    transform: translateX(95px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-13.png);
      background-repeat: no-repeat;
      width: 92px;
      height: 70px;
      top: 128px;
      left: -70px;
    }
  }

  &__item-15 {
    width: 146px;
    height: 146px;
    top: -102px;
    transform: translateX(-100px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-16.png);
      background-repeat: no-repeat;
      width: 235px;
      height: 45px;
      top: 55px;
      left: 150px;
    }
  }

  &__item-16 {
    width: 146px;
    height: 146px;
    top: -104px;
    transform: translateX(140px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-17.png);
      background-repeat: no-repeat;
      width: 215px;
      height: 210px;
      top: 125px;
      left: -48px;
    }
  }

  &__item-17 {
    width: 146px;
    height: 146px;
    top: -125px;
    transform: translateX(13px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-18.png);
      background-repeat: no-repeat;
      width: 235px;
      height: 195px;
      top: 74px;
      left: -250px;
    }
  }

  &__item-18 {
    width: 146px;
    height: 146px;
    top: -118px;
    transform: translateX(-155px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-19.png);
      background-repeat: no-repeat;
      width: 360px;
      height: 110px;
      top: 35px;
      left: 132px;
    }
  }

  &__item-19 {
    width: 146px;
    height: 146px;
    top: -85px;
    transform: translateX(174px);

    &::after {
      content: "";
      position: absolute;
      background-image: url(../src/image/background/path-20.png);
      background-repeat: no-repeat;
      width: 300px;
      height: 280px;
      top: 110px;
      left: -118px;
    }
  }

  &__item-20 {
    width: 146px;
    height: 146px;
    top: -80px;
    transform: translateX(-20%);

    &::after {
      content: "";
      position: absolute;
      /*background-image: url(../src/image/background/path-20.png);*/
      background-repeat: no-repeat;
      width: 250px;
      height: 240px;
      top: 140px;
      left: -30px;
    }
  }
}

.level--future {
  /*position: relative;
  justify-content: center;*/
  /*left: 75px;*/
  top: -10px;
  position: relative;

  @media screen and (max-width: 800px) {
    /*left: -75px;
    top: 70px;*/

   /* left: -75px;
    top: 85px;
    top: 0px;*/
    display: block;
    top: 0;
    /*left: 50%;
    transform: translateX(-50%);
    width: 170px;*/
    height: 400px;
  }

  @media screen and (min-width: 801px) {
     position: relative;
    justify-content: center;
   /* left: 66px;
    top: -150px;*/
    /*left: -230px;*/
    top: 0px;
    width: 600px;
    height: 250px;
    left: 50%;
    transform: translateX(-61%);
  }

  @media screen and (min-width: 550px) and (max-width: 800px) {
  /*  left: -80px;
    top: 60px;*/

   /* left: -80px;*/
    left: 0;
    /*top: 80px;*/
  }

  .level__item--future {
    width: 160px;
    position: absolute;


  }

  .level__item--date {
    /*position: relative;*/
    /*top: -95px;*/
    /*left: 90px;*/
    left: 50%;
    top: 22px;
    height: 50px;
    background-position-y: 0px;
    padding-top: 30px;

    background-image: url(../src/image/level-date.png);
    background-repeat: no-repeat;
    transform: translateX(-50%);

    @media screen and (min-width: 801px) {
      top: -75px;
      left: 140px;
    }

    .level__—Åaption {
      position: absolute;
      display: inline-block;
      width: 76px;
      height: 46px;
      object-fit: contain;
      font-family: KiddyKitty;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      top: 85px;
      left: 32px;
    }
  }
  .level__item--sign {
    position: absolute;
    top: 20px;
    /*left: 80px;*/
    height: 130px;
    background-image: url(../src/image/question.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: 45px;

    @media screen and (max-width: 800px) {
      /*top: -80px;
      left: 90px;*/
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (min-width: 801px) {
      top: 30px;
      left: 215px;
    }

    @media screen and (max-width: 800px) {
      /*left: 0;*/
      top: 220px;
    }
  }
}

.level .wait-block {

  .level__title {
    display: none;
  }

  @media screen and (max-width: 800px) {
    margin-bottom: 100px;
    top: 0;
    transform: translateX(0);

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      width: 30px;
      height: 80px;
      background-image: url(../src/image/path-mobile-4.png);
      top: 170px;
      left: 50%;
      transform: translateX(-50%);
    }
/*
    &--last::after {
      display: none;
    }*/
  }
}
