.main-nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(56, 153, 11, .7);
  position: absolute;
  right: 0;
  top: 0;
  width: 40vw;
  height: 100vh;
  text-align: center;
  justify-content: center;

  &--closed {
    display: none;
  }

  &__link {
    font-size: 26px;
    padding: 12px 5px;
    color: orange;
    text-decoration: none;

    &:not(last-child) {
      margin-bottom: 45px;
    }

    &:hover {
      color: #fff;
    }
  }
}
