.map-banner {
  /*max-width: 485px;
  width: 100%;*/
  
  width: 100%;
  /*max-width: 485px;*/
  max-width: 970px;
  width: 57.83133%;
  max-height: 257px;
  height: 100%;
  padding-top: 25px;
	text-align: center;
	/*background-image: url("../../../src/image/banner-green-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;*/
  margin: 0 auto;
  margin-bottom: 7px;
  /*background-color: #091;*/

  @media screen and (min-width: 1280px) {
    max-height: 155px;
    height: 100%;
    width: 55%;
    margin-bottom: 45px;
  }

  @media screen and (min-width: 1800px) {
    width: 60%;
  }

  @media screen and (min-width: 2500px) {
    position: relative;
    width: 100%;
    max-height: 257px;
    margin-bottom: 35px;
  }

  @media screen and (max-width: 1280px) {
    max-height: 135px;
    height: 100%;
    /*margin-bottom: 10px;*/
  }


  @media screen and (max-width: 1024px) {
    max-width: 390px;
    width: 100%;
    height: 100px;
    margin-bottom: 0;
  }

 /* @media screen and (max-width: 667px) {
    height: 110px;
  }*/

  @media screen and (max-width: 667px) {
    max-width: 245px;
    height: 65px;
  }

  &--adventure {
    max-width: 615px;
    width: 100%;
    height: 160px;
    margin-bottom: 90px;

    @media screen and (max-width: 1280px) {
      max-height: 135px;
      height: 100%;
     /* margin-bottom: 45px;*/
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  p {
    font-family: 'KiddyKitty-Bold', sans-serif;
    font-size: 38px;
    color: #fff;
    /*background-image: url("../../../src/image/banner-green.png");*/
  }
}
