.move-wrapper {
  height: 440px;
  /*top: 225px;*/

  top: 70px;
  width: 50px;
  position: absolute;
  z-index: 7;




  @media screen and (max-width: 800px) {
    height: 320px;
    top: 250px;
    z-index: 13;
  }

  @media screen and (max-width: 390px){
    top: 170px;
  }
}

