.product-info {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 4rem;

  @media screen and (max-width: 800px) {
    justify-content: space-between;
  }

  &__text {
    max-width: 70%;
    text-align: left;

    @media screen and(max-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (max-width: 800px) {
      max-width: 50%;
    }

    .description {
      display: inline-block;
      max-width: 400px;
    }
  }

  &__image {
    position: relative;
    max-width: 40%;
    height: 460px;

    /*&::after {
      position: absolute;
      content: "";
      width: 17rem;
      height: 17rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: orange;
    }*/
  }

  .btn-more {
    position: relative;
    text-align: left;
    padding-left: 45px;
    font-size: 1.8rem;
    /*padding: 1rem 2rem;*/
    /*margin-top: 2rem;*/
    margin-right: 20px;
    height: 60px;
    width: 250px;
    text-transform: lowercase;
    color: #4a95d0;
    background-color: transparent;
    background-image: url(../src/image/buttons/fill-button.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-style: none;
    /*border-radius: 2rem;*/
    cursor: pointer;
    outline: none;

    @media screen and (max-width: 800px) {
      padding-left: 10px;
      -webkit-background-size: contain;
      background-size: contain;
    }

    /*#svg-btn {
      width: 35px;
      height: 20px;
    }*/

    &::after {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      background-image: url("../src/image/buttons/logo-button.png");
      background-position: center;
      -webkit-background-size: contain;
      background-size: contain;

      @media screen and (max-width: 800px) {
        right: 10px;
        width: 28px;
        height: 27px;
      }
    }

    &:hover {
      color: #fff;
      /*background-color: green;*/
    }
  }

  .btn-print {
    position: relative;
    font-size: 18px;
    font-weight: 900;
    width: 100px;
    height: 60px;
    padding: 3px 10px;
    border-style: none;
    border-radius: 5px;
    color: orange;
    background-color: transparent;
    background-image: url(../src/image/buttons/fill-button-print.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
    outline: none;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 37px;
      top: 50%;
      left: 50%;
      background-image: url(../src/image/buttons/printer-sign.png);
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      transform: translate(-50%, -50%);

    }
  }
}

.img-block {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 50px;
  width: 215px;
  height: 245px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;

  &--bottom {
    background-image: url(../src/image/bee/pop-up-bee.png);

    &::before {
    width: 200px;
    height: 700px;
    position: absolute;
    content: "";
    left: 191px;
    top: -610px;
    background-image: url(../src/image/bee/bee-path-popup.png);
    background-repeat: no-repeat;

    @media screen and (max-width: 1000px) {
      display: none;
    }

  }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &--top {
    
    @media screen and (max-width: 1000px) {
      margin-left: 0;
      background-image: url(../src/image/bee/pop-up-bee.png);
    }

    @media screen and (max-width: 800px) {
      width: 102px;
      height: 132px;
    }
  }


  &:hover &__description {
    opacity: 1;
  }

  &__description {
    position: absolute;
    font-size: 18px;
    font-family: 'KiddyKitty', sans-serif;
    top: -160px;
    left: -225px;
    width: 360px;
    height: 210px;
    text-align: center;
    padding-top: 55px;
    z-index: 2;
    opacity: 0;
    transition: opacity .3s cubic-bezier(.19,.86,.41,.68);

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url("../src/image/cloud/promo-cloud-full.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      z-index: -1;
    }
  }
}
