.product-item {
	position: absolute;
  width: 258px;
  height: 416px;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

  @media screen and (min-width: 801px) {
    width: 140px;
    height: 225px;
  }

  @media screen and (max-width: 800px) {
    width: 110px;
    height: 40vw;
    -webkit-background-size: contain;
    background-size: contain;
  }

  @media screen and (max-width: 400px) {
    height: 230px;
  }

  @media screen and (min-width: 1001px) {
    width: 230px;
    height: 390px;
  }

  &--left-1 {
    top: 180px;
    transform: rotate(-21deg) translateX(-25%);
    background-image: url(../src/image/left-product-1.png);
    background-position: 18% 50%;

    @media screen and (max-width: 800px) {
      width: 120px;
      left: -200px;
      top: 70px;
      transform: rotate(-15deg) translateX(22%);
    }

    @media screen and (min-width: 801px){
      right: 30px
    }


  }

  &--left-2 {
    top: 960px;
    transform: rotate(-8deg) translateX(-10%);
    background-image: url(../src/image/left-product-2.png);

    @media screen and (max-width: 800px) {
      width: 120px;
      transform: rotate(-9deg) translateX(8%);
      top: 645px;
      left: -180px;
    }
  }

  &--left-3 {
    top: 1760px;
    transform: rotate(-14deg);
    background-image: url(../src/image/left-product-3.png);

    @media screen and (max-width: 800px) {
      width: 150px;
      top: 1250px;
      transform: rotate(7deg);
      left: -180px;
    }
  }

  &--right-1 {
    z-index: 1;
    top: 180px;
    transform: rotate(7deg) translateX(30%);
    background-image: url(../src/image/right-product-1.png);

    @media screen and (max-width: 330px) {
      transform: rotate(14deg) translateX(37%);
      top: 140px;
    }

    @media screen and (min-width: 801px) {
      right: -60px;
      top: 160px;
    }
  }

  &--right-2 {
    top: 950px;
    transform: rotate(22deg) translateX(80%);
    background-image: url(../src/image/right-product-2.png);

    @media screen and (max-width: 800px) {
      transform: rotate(7deg) translateX(43%);
      top: 540px;
    }

    @media screen and (min-width: 801px) and (max-width: 1000px) {
      top: 1150px;
    }

    @media screen and (min-width: 1001px) {
      top: 940px;
      right: 70px;
    }
  }

  &--right-3 {
    top: 1280px;
    transform: rotate(3deg) translateX(40%);
    background-image: url(../src/image/right-product-3.png);

    @media screen and (min-width: 320px) and (max-width: 345px) {
      top: 1280px;
      left: 175px;
    }

    @media screen and (min-width: 346px) and (max-width: 400px) {
      top: 1280px;
      left: 230px;
    }

    @media screen and (min-width: 401px) and (max-width: 800px) {
      transform: rotate(10deg) translateX(45%);
      top: 1180px;
    }

    @media screen and (min-width: 801px) {
      top: 1740px;
    }
  }

  &--right-4 {
    top: 2450px;
    transform: rotate(21deg) translateX(40%);
    background-image: url(../src/image/right-prooduct-4.png);

    @media screen and (max-width: 800px) {
      width: 120px;
      top: 2550px;
      transform: rotate(-12deg) translateX(35%);
    }
  }
}
