.product-item {
	position: absolute;
  width: 258px;
  height: 416px;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

  @media screen and (max-width: 800px) {
    width: 250px;
    height: 45vw;
    -webkit-background-size: contain;
    background-size: contain;
  }

  @media screen and (max-width: 400px) {
    height: 230px;
  }

  &--left-1 {
    top: 180px;
    transform: rotate(-21deg) translateX(-25%);
    background-image: url(../src/image/left-product-1.png);
    background-position: 18% 50%;

    @media screen and (max-width: 800px) {
      width: 280px;
      transform: rotate(-15deg) translateX(22%);
    }
  }

  &--left-2 {
    top: 960px;
    transform: rotate(-8deg) translateX(-10%);
    background-image: url(../src/image/left-product-2.png);

    @media screen and (max-width: 800px) {
      width: 280px;
      transform: rotate(-9deg) translateX(8%);
      top: 646px;
    }
  }

  &--left-3 {
    top: 1760px;
    transform: rotate(-14deg);
    background-image: url(../src/image/left-product-3.png);

    @media screen and (max-width: 800px) {
      top: 2120px;
      width: 280px;
      transform: rotate(7deg) translateX(91px);
    }

    @media screen and (max-width: 800px) {
      top: 1120px;
      transform: rotate(7deg);
      left: -200px;
    }
  }

  &--right-1 {
    z-index: 1;
    top: 300px;
    transform: rotate(7deg) translateX(70%);
    background-image: url(../src/image/right-product-1.png);

    @media screen and (max-width: 800px) {
      transform: rotate(18deg) translateX(47%);
      top: 120px;
      right: -10px;
    }
  }

  &--right-2 {
    top: 950px;
    transform: rotate(22deg) translateX(80%);
    background-image: url(../src/image/right-product-2.png);

    @media screen and (max-width: 800px) {
      transform: rotate(7deg) translateX(43%);
      top: 540px;
    }
  }

  &--right-3 {
    top: 1700px;
    transform: rotate(3deg) translateX(40%);
    background-image: url(../src/image/right-product-3.png);

    @media screen and (max-width: 800px) {
      transform: rotate(10deg) translateX(45%);
      top: 1180px;
    }
  }

  &--right-4 {
    top: 2450px;
    transform: rotate(21deg) translateX(40%);
    background-image: url(../src/image/right-prooduct-4.png);

    @media screen and (max-width: 800px) {
      width: 280px;
      top: 2550px;
      transform: rotate(-12deg) translateX(35%);
    }
  }
}
