.rules-popup {
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
                    url(../src/image/pop-up-blur.jpg);
  background-size: cover, cover, cover;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
}

.rules {
  max-width: 90vw;
  height: 100%;
  padding: 47px 57px;
  position: relative;
  background: url(../src/image/pop-up-top.png) center top no-repeat, url(../src/image/pop-up-bottom.png) 0 bottom no-repeat, url(../src/image/pop-up-middle.jpg) center 0 repeat-y;
  background-size: 100%;
  margin: 7vh auto;
  padding-top: 127px;
  border-radius: 10px;



  @media screen and (max-width: 750px) {
    padding: 47px 32px;
  }
}

.rules__logo {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 30px;
  left: 50px;

  @media screen and (max-width: 750px) {
    left: 30px;
  }

  @media screen and (max-width: 400px) {
    left: 15px;
    top: 10px;
  }

  .main-nav__img {
    width: 130px;

    @media screen and (max-width: 1100px) {
      width: 100px;
    }

    @media screen and (max-width: 750px) {
      width: 70px;
    }

    @media screen and (max-width: 400px) {
      width: 50px;
    }

  }
}

.rules__close {
  @media screen and (max-width: 1100px) {
    width: 60px;
    top: 50px;
    right: 40px;
  }

  @media screen and (max-width: 750px) {
    width: 50px;
    top: 45px;
    right: 40px;
  }

  @media screen and (max-width: 400px) {
    width: 40px;
    top: 15px;
    right: 15px;
  }
}

.rules-subtittle {
  font-size: 22px;
  line-height: normal;
  margin: 0 auto;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;

  @media screen and (max-width: 750px) {
    font-size: 19px;
  }

  @media screen and (max-width: 400px) {
    font-size: 18px;
  }
}

.rules-list {
  counter-reset: heading;
  list-style-type: none;


  > li::before {
    counter-increment: heading;
    content: counters(heading,".") " ";
  }

  &__header {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 10px;
  }
}

.with-hypen {

  &::before {
    content: "—";
    text-indent: -5px;
  }
}

.rules-list--title {
  font-size: 80px;
  max-width: 675px;
  margin: 0 auto;

  @media screen and (max-width: 1100px) {
    max-width: 350px;
    font-size: 50px;
  }

  @media screen and (max-width: 750px) {
    max-width: 200px;
    font-size: 30px;
  }
}


