.svg-path {
  position: absolute;

  @media screen and (max-width: 800px) {
    display: none;
  }

  .path {
    animation: dash 4s linear reverse infinite;
    stroke-dasharray: 20;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 300;
    }
  }
}

.svg-path--to-mobile {
  display: block;
  .path {
    animation: dash 4s linear forwards infinite;
    stroke-dasharray: 15;
  }

  @media screen and (min-width: 800px) {
    display: none;
  }
}


.svg-path--from-mobile {
  display: block;
  .path {
    animation: dash 4s linear forwards infinite;
    stroke-dasharray: 10;
  }

  @media screen and (min-width: 800px) {
    display: none;
  }
}


.level__item-1 {

  .svg-path--to {
    top: 70px;
    left: 150px;
  }

  .svg-path--from {
    top: -10px;
    left: -95px;
  }

  .svg-path--to-mobile {
    top: -80px;
    left: 40px;

    @media screen and (min-width: 390px) {
      top: -75px;
      left: 50px;
    }

    @media screen and (min-width: 450px) {
      top: -75px;
      left: 60px;
    }
  }

    .svg-path--from-mobile {
      top: 130px;
      left: 85%;
      transform: translateX(-50%);

      @media screen and (min-height: 430px) {
        top: 150px;
      }
  }
}

.level__item-2 {

  .svg-path--to {
    top: 90px;
    left: -30px;
  }

  .svg-path--from-mobile {
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.level__item-3 {

  .svg-path--to {
    top: 30px;
    right: 140px;
  }

  .svg-path--from-mobile {
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.level__item-4 {

  .svg-path--to {
    top: 125px;
    left: 155px;
  }

  .svg-path--from-mobile {
    top: 195px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.level__item-5 {

  .svg-path--to {
    top: 85px;
    left: 5px;
  }

  .svg-path--from-mobile {
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.level__item-6 {

  .svg-path--to {
    top: 50px;
    left: -200px;
  }

  .svg-path--from-mobile {
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.level__item-7 {

  .svg-path--to {
    top: 120px;
    left: 100px;
  }

  .svg-path--from-mobile {
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
  }

}

