@font-face {
  font-family: 'KiddyKitty-Medium';
  font-weight: 400;
  src: url('KiddyKitty-Medium.woff2') format('woff2'),
       url('KiddyKitty-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-MediumItalic';
  font-weight: 200;
  src: url('KiddyKitty-MediumItalic.woff2') format('woff2'),
       url('KiddyKitty-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-LightItalic';
  src: url('KiddyKitty-LightItalic.woff2') format('woff2'),
       url('KiddyKitty-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-Light';
  src: url('KiddyKitty-Light.woff2') format('woff2'),
       url('KiddyKitty-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KiddyKitty-Fat';
  src: url('KiddyKitty-Fat.woff2') format('woff2'),
       url('KiddyKitty-Fat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KiddyKitty-ExtraBoldItalic';
  src: url('KiddyKitty-ExtraBoldItalic.woff2') format('woff2'),
       url('KiddyKitty-ExtraBoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KiddyKitty-BoldItalic';
  src: url('KiddyKitty-BoldItalic.woff2') format('woff2'),
       url('KiddyKitty-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KiddyKitty-Bold';
  src: url('KiddyKitty-Bold.woff2') format('woff2'),
       url('KiddyKitty-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*
@font-face {
  font-family: "Kiddy Kitty";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/KiddyKitty-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Kiddy Kitty";
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/KiddyKitty-Fat.otf") format("opentype");
}
*/
