@font-face {
  font-family: "Kiddy Kitty";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/KiddyKitty.otf") format("opentype");
}

@font-face {
  font-family: "Kiddy Kitty";
  font-weight: 200;
  font-style: normal;
  src: url("../../fonts/KiddyKitty-Light.otf") format("opentype");
}


@font-face {
  font-family: "Kiddy Kitty";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/KiddyKitty-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Kiddy Kitty";
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/KiddyKitty-Fat.otf") format("opentype");
}

